name : backend-deploy
on:
    push:
        branches: [develop]
        paths:
            - 'backend/**'
jobs:
    deploy: 
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            
            - name: Build
              run: |
                cd backend
                dotnet publish -c Release -o out
            - name: Deploy to EC2
              uses: appleboy/scp-action@v0.1.4
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                source: "backend/out/*"
                target: "/var/www/backend"

            - name : Restart API
              uses: appleboy/ssh-action@v0.1.4
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                script: |
                  sudo systemctl restart backend.service