name : deploy-frontend

on:
    push:
        branches: [develop]
        paths:
            - 'frontend/**'
jobs:
    deploy:
        runs-on: ubuntu-latest

        steps: 
            - uses : actions/checkout@v3
            
            - name: Build
              run: |
                cd frontend
                dotnet publish -c Release -o out
            - name: Deploy to EC2
              uses: appleboy/scp-action@v0.1.4
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                source: "frontend/out/*"
                target: "/var/www/frontend"
                    